<mat-toolbar color="primary">
  <button [disabled]="!isRaceEnded" (click)="startRace()" mat-raised-button color="accent" class="oval-button">Race</button>
  <button [disabled]="isRaceEnded" (click)="resetRace()" mat-raised-button color="warn" class="oval-button">Reset</button>
  <span class="spacer"></span>
  <form class="my-form" (submit)="createCar()">
    <div class="form-group">
      <input
        [(ngModel)]="carName"
        name="carName"
        type="text"
        class="form-control"
        placeholder="Enter name"
      />
    </div>
    <div class="form-group">
      <input
        [(ngModel)]="carColor"
        name="carColor"
        type="color"
        class="form-control-color"
      />
    </div>
    <button mat-raised-button type="submit" color="accent">Create</button>
  </form>
  <span class="spacer"></span>
  <form class="my-form" (submit)="updateCar()">
    <div class="form-group">
      <input
        [(ngModel)]="updateCarName"
        name="carName"
        type="text"
        class="form-control"
        placeholder="Enter name"
      />
    </div>
    <div class="form-group">
      <input
        [(ngModel)]="updateCarColor"
        name="updateCarColor"
        type="color"
        class="form-control-color"
      />
    </div>
    <button
      [disabled]="updateCarId === -1"
      mat-raised-button
      type="submit"
      color="accent"
    >
      Update
    </button>
  </form>
  <span class="spacer"></span>
  <button (click)="generateCars()" mat-raised-button color="warn" class="oval-button">
    Generate cars
  </button>
  <span class="spacer"></span>

  <span class="spacer"></span>
  <span class="app-title">Garage    Total Cars {{totalCars}}</span>
</mat-toolbar>
